.App {
  text-align: center;
}

.nav--style {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
}

.logoo {
  display: flex;
  margin-left: 3vw;
  flex-direction: row;
}

.subtitle {
  margin-right: 5vw;
}

.face {
  padding-right: 1vw;
}