.App {
  text-align: center;
  font-family: "karla";
}

@font-face {
  font-family: "karla";
  src:
    url('/Users/shiracohen/Desktop/meme-generator/meme-generator/src/assets/fonts/Inter,Karla/Karla/Karla-VariableFont_wght.ttf')
}


.nav--style {
  display: flex;
  flex-direction: row;
  padding-top: 3vh;
  padding-bottom: 3vh;
  color: white;
  background-image: linear-gradient(to right, #672280 , #A626D3);
  width: 100vw;
  justify-content: space-between;
  align-items: center
}

.logoo {
  display: flex;
  margin-left: 3vw;
  flex-direction: row;
}

.subtitle {
  margin-right: 5vw;
}

.face {
  padding-right: 1vw;
}

.page-title {
  font-weight: 700;
  font-size: 2.5vh;
}

.first-input, .second-input {
  width: 16vw;
  border-radius: 0.5vh;
  height: 4vh;
  font-family: "karla";
  border: 0.25vh solid #D5D4D8;
}

.inputs {
  margin-top: 5vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.new-image {
  /* margin-top: 6vh; */
  color: white;
  font-family: "karla";
  width: 56vw;
  height: 6vh;
  cursor: pointer;
  border: none;
  font-weight: 600;
  font-size: 1.25vw;
  border-radius: 0.75vh;
  background-image: linear-gradient(to right, #672280 , #A626D3);
}

.meme {
  display: flex;
  flex-direction: column;
  height: 25vh;
  align-items: center;
  justify-content: space-around;
}
